.contact-slider {
  margin-bottom: 30px;
  padding-bottom: 100px;

  &__link {
    position: relative;
    &:hover {
      .contact-slider__title {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
  &__img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  &__title {
    line-height: 22px;
    color: $title;
    @extend %title-font;
    max-width: 200px;
    transition: all 0.5s ease-in-out;
    padding: 0 5px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(#fff, 0.7);
    opacity: 0;
    transform: scale(0);
  }
}
@media (max-width: 800px) {
  .contact-slider {
    &__img {
      width: 100%;
      height: 100%;
    }
  }
  .slick-track {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}
