.blog-box {
  padding: 10px 0;
  margin-bottom: 70px;
  &__title-wrapp {
    display: flex;
    justify-content: center;
  }
  &__title {
    font-size: 36px;
    line-height: 51px;
    margin-bottom: 30px;
    max-width: 390px;
    text-align: center;
  }
  &__items {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }
  &__item {
    display: flex;
    gap: 25px;
    flex-direction: column;
    max-width: 539px;
    width: 100%;
  }
  &__img-link {
  }
  &__links {
    * {
      font-size: 14px;
      line-height: 28xp;
      color: #707070;
    }
  }
  &__date {
  }
  &__author {
  }
  &__theme {
  }
  &__item-titlelink {
    display: block;
    color: $title;
  }
  &__item-title {
    font-size: 24px;
  }
}
