.footer {
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    background-color: #dfdfdf;
    padding: 60px 0 80px;
  }

  &__info {
    max-width: 500px;

    &-title {
      color: $title;
      @extend %title-font;
      margin-bottom: 14px;
      line-height: 23px;
    }

    &-text {
      max-width: 470px;
    }
  }

  &__form {
    display: flex;
    &-input {
      width: 100%;
      padding: 6px 10px 6px 18px;
      border-radius: 12px;
      background-color: transparent;
      opacity: 0.7;
      border: 1px solid rgba($title, 0.7);
      margin-right: 9px;
    }

    &:placeholder {
      font-weight: 400;
      font-size: 1rem;
      line-height: 27px;
      color: #a1a1a1;
    }
  }

  &__social {
    color: $title;
    width: 120px;
    margin-left: 100px;
    margin-right: auto;
  }

  &__social-item,
  &__menu-item {
    margin-bottom: 15px;
  }

  &__social-link,
  &__menu-link {
    color: #707070;
    font-weight: 600;
    font-size: 14px;
    color: #707070;
  }

  &__social-link {
    position: relative;
    padding-left: 30px;
  }

  &__social-link::before {
    content: "";
    position: absolute;
    left: 0;
    width: 20px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__social-link_facebook::before {
    background: url(../images/facebook-icon.svg) no-repeat;
  }

  &__social-link_instagram::before {
    background: url(../images/instagram-icon.svg) no-repeat;
  }

  &__social-link_pinterest::before {
    background: url(../images/pinterest-icon.svg) no-repeat;
  }

  &__social-link_whatsApp::before {
    background: url(../images/whatsapp-icon.svg) no-repeat;
  }

  &__social-link_youtube::before {
    background: url(../images/youtube-icon.svg) no-repeat;
  }

  &__copyright {
    background: $title;
    text-align: center;
    padding: 42px 0 41px;
    color: #a1a1a1;
  }
}
