.gallery {
  margin-bottom: 80px;

  &__buttons {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
  }
  &__btn {
    transition: all 0.4s ease;
    padding: 0.3rem 1rem;
    border-radius: 30px;
    border: 1px solid #8f8d8d;
    font-size: 20px;
    color: #8f8d8d;
    line-height: 28px;
    font-weight: 600;
    &_active {
      background: #ffef35;
      border: none;
    }
  }
  &__items {
    display: grid;
    gap: 1.5rem;
    transition: all 1s ease;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    &_active {
      transform: scale(1);
      opacity: 1;
      visibility: visible;
      position: static;
    }
  }

  &__item:first-child {
    grid-column: span 2;
    grid-row: span 2;
  }
  &__item img {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
    object-fit: cover;
  }
  &.gallery-page {
    .gallery__item:nth-child(8) {
      grid-column: span 2;
      grid-row: span 2;
    }
  }
}
