html,
body {
  height: 100%;
  color: $default;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 27px;
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  transform: scale(0) translate(-1000px) skew(100deg);
  border: 0;
  clip: rect(0 0 0 0);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
  height: 100%;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 10px;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  button {
    background-color: $title;
    font-size: 0;
    border-radius: 50%;
    width: 8px;
    height: 8px;
  }

  li.slick-active {
    button {
      background-color: #ffef35;
    }
  }
}

.breadcrumbs {
  background: rgba(#dfdfdf, 0.7);
  padding: 22px 0;
  margin-bottom: 40px;
  &__list {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__item:not(:last-child):after {
    content: "/";
    margin-left: 4px;
    margin-right: -4px;
  }
  &__link {
    color: inherit;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
  }
}
.info-email {
  margin-bottom: 16px;
  font-weight: 600;
  color: $title;
  font-size: 14px;
  padding-left: 30px;
  display: inline-block;
  position: relative;

  &::before {
    background-image: url(../images/email-icon.svg);
    content: "";
    left: 0;
    position: absolute;
    width: 16px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.form-button {
  transition: all 0.3s ease-in;
  color: #fffff0;
  background-color: $title;
  border-radius: 12px;
  font-weight: 600;
  padding: 6px 12px;
  min-width: 160px;
  &:hover {
    background-color: #262727;
    transform: scale(1.05);
  }
  &:active {
    background-color: #262727;
    transform: scale(0.9);
  }
}
