.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 120px;

    .menu {
        padding-right: 15px;


        &__list {
            display: flex;
        }

        &__list-item {
            padding-left: 35px;
            padding-right: 45px;
        }

        &__list-link {
            @extend %title-font;
            color: rgba(54, 56, 56, .9);
            font-size: 1rem;
            line-height: 22px;
        }
    }

    &:hover,
    &:active {
        color: rgba(15, 15, 15, 0.9);
    }

    .logo {
        margin: 0 auto;
    }
}