@media (max-width: 992px) {
  .footer {
    &__info {
      width: 380px;
    }
    &__social {
      margin-left: 0;
    }
    &__form-input {
      width: 100%;
      margin-bottom: 30px;
    }
    &__form {
      flex-wrap: wrap;
    }
  }
}
@media (max-width: 768px) {
  .header {
    &__btn {
      display: none;
    }
  }

  .menu {
    &__list-item {
      padding-left: 0px;
      &:not(:last-child) {
        padding-right: 10px;
      }
    }
  }
  .footer {
    &__inner {
      flex-wrap: wrap;
    }
    &__info {
      width: 100%;
      margin-bottom: 50px;
      margin-right: 30px;
    }
    &__info-text {
      width: 100%;
    }
    &__form-input {
      width: 100%;
    }
    &__social {
      width: 50%;
    }
  }
  .form-button {
    width: 100%;
  }
}
@media (max-width: 540px) {
  .logo {
    order: -1;
    max-width: 90px;
    width: 80px;
  }
  .header {
    &__btn-menu {
      display: block;
      background: transparent;
      order: -1;
      position: relative;
      z-index: 13;
      span {
        background-color: #000;
        height: 3px;
        width: 37px;
        border-radius: 10px;
        display: block;
        margin: 6px 0;
      }
    }
  }

  .header__inner {
    flex-wrap: wrap;
    padding-top: 42px;
    .logo {
      position: relative;
      z-index: 13;
      margin: 0;
    }

    .menu {
      transition: all 0.4s ease;
      padding-right: 0;
      width: 100%;
      background: #fff;
      position: relative;
      z-index: 11;
      text-align: center;
      transform: translateY(-450px) scale(0);
      &--open {
        transform: translateY(0) scale(1);
      }

      &__list {
        display: block;
        padding: 0 0;
      }
      &__list-item {
        padding-right: 0px;
      }
      &__list-link {
        display: block;
        padding: 15px 0;
      }
    }
  }
}
