.new-collection {
  text-align: center;
  padding: 45px 0 105px;

  &__title {
    color: $title;
    font-weight: bold;
    font-size: 36px;
    line-height: 51px;
    margin-bottom: 50px;
    position: relative;

    &:after {
      position: absolute;
      content: "";
      bottom: -25px;
      width: 252px;
      height: 1px;
      background-color: $title;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__text {
    color: #5a5a5a;
    line-height: 27px;
    font-weight: 600;
    margin: 0 auto 30px;
    max-width: 730px;
  }
}

.collection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;

  &__item {
    position: relative;

    &:hover {
      .collection__info {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__images {
    max-height: 350px;
    object-fit: cover;
  }

  &__info {
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#fff, 0.7);
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
  }

  &__info-title {
    margin-bottom: 20px;
    position: relative;
    color: $title;
    font-size: 20px;
    line-height: auto;

    &::after {
      content: "";
      width: 70%;
      height: 1px;
      background-color: #6d7278;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -10px;
    }
  }

  &__info-text {
    color: #707070;
    line-height: 28px;
    font-size: 14px;
  }
}
