@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
@import "header";
@import "rightside-menu";
@import "top-section";
@import "new-collection";
@import "decor";
@import "gallery";
@import "works-path";
@import "blog";
@import "footer";

//ABOUT

@import "AboutPage/about";
@import "AboutPage/inspiration";
@import "AboutPage/partners";

//Contact

@import "ContactsPage/contact";
@import "ContactsPage/contact-slider";

//Blog
@import "BlogPage/blog";

@import "media/media";
@import "media/media-index";
