@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import 'header';
@import 'rightside-menu';
@import 'top-section';
@import 'new-collection';
@import 'decor';
@import 'works-path';
@import 'footer';